# Environment Paths
ANDROID_HOME = C:\Users\{USER}\AppData\Local\Android\Sdk
JAVA_HOME = C:\Program Files\Microsoft\jdk-11.0.12.7-hotspot

# General Capabilities
#APP_PACKAGE_PATH =
PLATFORM_NAME = Android
DEVICE_NAME = emulator-5554
AUTOMATION_NAME = UiAutomator2

# Android Capabilities
APP_PACKAGE = com.companyname.Preventa.View
APP_ACTIVITY = crc646ea84312a5eefcfd.SplashActivity